h4 {
	color: #0099cc;
	font: 30px/40px "微软雅黑";
	margin-bottom: 0.38rem;
}

.radio label,
.checkbox label {
	padding-left: 0;
}

h5 {
	display: inline-block;
	margin-top: 1.3rem;
	/*	margin-left: 1.3rem;*/
	color: #666666;
}

.form-horizontal .control-label {
	margin-bottom: 9px;
}

h5 a {
	color: #ff6600;
}

.leftForm {
	display: none;
}

.zc {
	background: url(../img/bj-zc.png) no-repeat center;
	border-radius: 10px;
	padding-top: 0.8rem;
	padding-bottom: 1.5rem;
	margin-bottom: .4rem;
}

label {
	font-size: 14px;
	font-weight: 300;
	color: #999999;
}

.spcialLabel {
	color: #666666;
}

.spcialLabel a {
	color: #0099cc;
	margin-left: 1rem;
}

.form-control {
	border: 1px solid #019bdf;
	background: none;
}

@media only screen and (min-width:768px) {
	h4 {
		margin-bottom: 0.08rem;
	}
	.form-horizontal .control-label {
		text-align: left;
	}
	.col-sm-2 {
		width: 50%;
	}
	.zc {
		background: url(../img/b1.jpg) no-repeat center;
		padding: 30px;
	}
	.form-control {
		width: 112%;
	}
	.col-sm-offset-2 {
		margin-left: 0;
	}
	h5 {
		display: block;
		margin-left: 0;
		margin-top: 27px;
		color: #666666;
	}
	.leftForm {
		display: block;
		background: rgba(255, 255, 255, 0.62);
		border: 1px solid #999999;
		border-radius: 12px;
		border-top: 4px solid #0099cc;
		width: 390px;
		height: 390px;
		float: left;
		font: 14px/30px "宋体";
		color: #999999;
		position: relative;
	}
	.leftForm dl {
		position: absolute;
		top: 120px;
		left: 75px;
	}
	form {
		float: right;
		padding-left: 40px;
		padding-right: none;
		width: 390px;
		background: rgba(255, 255, 255, 0.62);
		border: 1px solid #999999;
		border-radius: 12px;
		border-top: 4px solid #0099cc;
	}
}